<button routerLink="/">Back</button>

<form (ngSubmit)="onSubmit()" [formGroup]="purchaseForm">
  <div>
    <div>
      <label for="cardNumber">Card Number</label>
      <input id="cardNumber" type="number" formControlName="cardNumber">
    </div>
    <div>
      <label for="holder">Holder</label>
      <input id="holder" type="text" formControlName="holder">
    </div>
    <div>
      <label for="expirationDate">Expiration Date</label>
      <input id="expirationDate" type="date" [min]="minDate" formControlName="expirationDate">
    </div>
    <div>
      <label for="ccv">CCV</label>
      <input id="ccv" type="number" placeholder="Optional" [maxLength]="3" [minlength]="3" formControlName="ccv">
    </div>
    <div>
      <label for="amount">Amount</label>
      <input id="amount" type="number" formControlName="amount">
    </div>
    <button type="submit">
      Submit
    </button>
  </div>
</form>
